#input-todo{
    margin: 10px;
    border: 1px solid rgb(8, 118, 209);
    padding: 10px;
    border-radius: 10px;
}
#add-btn{
    border: none;
    background-color: aqua;
    padding: 9px;
    border-radius: 10px;
    color: rgb(84, 77, 77);
}
#todo-list{
    padding: 20px;
    border: 1px solid black;
    width: 250px;
    border-radius: 10px;

}